<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Stock Recommendation System</title>
  </head>
  <body>
    <div class="container">
      <div class="button-container">
        <div class="left-container">
          <button onclick="refresh()" class="refresh-button">REFRESH</button>
        </div>
        <div class="right-container">
          <button class="filter-button">DESCENDING</button>
        </div>
      </div>
      <div class="stock-container" id="stock-container"></div>
    </div>

    <div class="right-panel">
      <div class="spacer"></div>
      <div class="top-panel">
        <div class="info-container" id="info-container"></div>
      </div>
      <div class="bottom-panel">
        <div class="chat-container"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
