<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    <title>Stock Recommendation System</title>
  </head>
  <body>
    
    <div class="container">
      <div class="button-container">
        <div class="left-container">
          <button onclick="refresh()" class="refresh-button">REFRESH</button>
        </div>
        <div class="right-container">
          <button class="filter-button">ASCENDING</button>
        </div>
      </div>
      <div class="table-wrapper" id="table-wrapper">
        <table class="table-container" id="table-container">
          <thead>
            <tr class="header-container">
              <th>Rank</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Change</th>
              <th>Change %</th>
              <th>Volume</th>
              <th>Predicted Price</th>
            </tr>
          </thead>
          <tbody class="stock-container" id="stock-container"></tbody>
        </table>
      </div>
    </div>

    <div class="right-panel">
      <div class="spacer"></div>
      <div class="top-panel">
        <div class="info-container" id="info-container">
          <div class="attributes" id="stock-name-container"></div>
          <div class="attributes" id="investment-score-container"></div>
          <div class="attributes" id="risk-container"></div>
          <div class="attributes" id="rsi-penalty-container"></div>
          <div class="attributes" id="mean-return-container"></div>
        </div>
      </div>
      <div class="bottom-panel">
        <div class="chat-container">
          <div class="chat-messages"></div>
          <div class="input-container">
              <input class="message-input" type="text" placeholder="Ask financial questions...">
              <button class="send-message">Send</button>
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
